/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "Champagne &amp; Limousines Thick Bold";
  src: url("Champagne_Limousines-ThickBold.eot?") format("eot"),
    url("Champagne_Limousines-ThickBold.woff") format("woff"),
    url("Champagne_Limousines-ThickBold.ttf") format("truetype"),
    url("Champagne_Limousines-ThickBold.svg#Champagne&LimousinesThick-Bold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
